@model ProductVM
@{
    ViewData["Title"] = "Update";
}

<form method="post" asp-action="Upsert" enctype="multipart/form-data">
    <input asp-for="Product.Id" hidden />
    <input asp-for="Product.ImageUrl" hidden />
    <div class="row">
        <h2 class="text-primary">@(Model.Product.Id != 0 ? "Update" : "Create") Product</h2>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class=@(Model.Product.Id != 0?"col-10":"col-12")>
            <div class="mb-3">
                <label asp-for="Product.Name"></label>
                <input asp-for="Product.Name" class="form-control" />
                <span asp-validation-for="Product.Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Product.ArabicName"></label>
                <input asp-for="Product.ArabicName" class="form-control" />
                <span asp-validation-for="Product.ArabicName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Product.Description"></label>
                <textarea asp-for="Product.Description" rows="3" class="form-control"></textarea>
                <span asp-validation-for="Product.Description" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Product.ArabicDescription"></label>
                <textarea asp-for="Product.ArabicDescription" rows="3" class="form-control"></textarea>
                <span asp-validation-for="Product.ArabicDescription" class="text-danger"></span>
            </div>
        </div>
        @if (Model.Product.Id != 0)
        {
            <div class="col-2">
                <img src="@Model.Product.ImageUrl" class="img-thumbnail" />
            </div>
        }


    </div>
    <div class="row">
        <div class="mb-3 col-sm-4">
            <label asp-for="Product.Price"></label>
            <input asp-for="Product.Price" class="form-control" />
            <span asp-validation-for="Product.Price" class="text-danger"></span>
        </div>
        <div class="mb-3 col-sm-4">
            <label asp-for="Product.Price10Plus"></label>
            <input asp-for="Product.Price10Plus" class="form-control" />
            <span asp-validation-for="Product.Price10Plus" class="text-danger"></span>
        </div>
        <div class="mb-3 col-sm-4">
            <label asp-for="Product.Price30Plus"></label>
            <input asp-for="Product.Price30Plus" class="form-control" />
            <span asp-validation-for="Product.Price30Plus" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="mb-3 col-12">
            <label asp-for="Product.ImageUrl"></label>
            <input id="uploadedFile" name="file" type="file" asp-for="Product.ImageUrl" class="form-control" />
        </div>
        <div class="mb-3 col-sm-6">
            <label asp-for="Product.CategoryId"></label>
            <Select asp-for="Product.CategoryId" asp-items="@Model.CategoryList" class="form-select">
                <option disabled selected>--Select Category</option>
            </Select>
            <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
        </div>
        <div class="mb-3 col-sm-6">
            <label asp-for="Product.BrandId"></label>
            <Select asp-for="Product.BrandId" asp-items="@Model.BrandList" class="form-select">
                <option disabled selected>--Select Brand</option>
            </Select>
            <span asp-validation-for="Product.BrandId" class="text-danger"></span>
        </div>
    </div>

    <div class="d-flex justify-content-between">
        @if (Model.Product.Id != 0)
        {
            <button type="submit" class="btn btn-primary w-50 me-1"><i class="bi bi-pencil-square"></i>&nbsp; Update</button>
        }
        else
        {
            <button onclick="validateInput()" type="submit" class="btn btn-primary w-50 me-1"><i class="bi bi-plus-square"></i>&nbsp; Create</button>
        }
        <a asp-action="Index" class="btn btn-secondary w-50">
            <i class="bi bi-arrow-left-square"></i>&nbsp; Back to List
        </a>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script>
        const validateInput = () => {
            if ($("#uploadedFile").val() == "") {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Please upload an image!'
                })
            }
        }
    </script>

    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'a11ychecker advcode casechange export formatpainter image editimage linkchecker autolink lists checklist media mediaembed pageembed permanentpen powerpaste table advtable tableofcontents tinycomments tinymcespellchecker',
            toolbar: 'a11ycheck addcomment showcomments casechange checklist code export formatpainter image editimage pageembed permanentpen table tableofcontents',
            toolbar_mode: 'floating',
            tinycomments_mode: 'embedded',
            tinycomments_author: 'Author name',
            height: 200
        });
    </script>
    }

